/* common style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

ul,
li,
ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

#app {
  height: 100vh;
  width: 100%;
  background: #1b1b1b;
}

/* header style */

.container-xxl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: #1b1b1b;
  color: #fff;
}

.header ul {
  align-items: center;
  display: flex;
}

/* logo */
.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

/* menu */

.menu li {
  font-size: 15px;
  font-weight: 300;
  margin-right: 20px;
}

.menu li a:focus {
  font-weight: 400;
}

/* search */

.search input[type="text"] {
  background-color: #1b1b1b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #bbbbbb;
}

.search input:focus {
  outline: none;
  border: 1px solid #bbbbbb;
}

/* Account */

.account li {
  font-size: 15px;
  font-weight: 300;
  margin-left: 20px;
}

.account i {
  font-size: 25px;
  color: #fff;
}

.account .img-account {
  width: 50px;
  height: 50px;
}

.account .img-account img {
  border-radius: 8px;
  width: 100%;
}

/* fine header style */

/* inizio main */

.mein .section-title h1 {
  color: #fff;
  text-transform: uppercase;
}

.info-film {
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  color: #fff;
  font-size: 5px;
  font-weight: 400;
  overflow: hidden;
}

.box-film:hover .info-film {
  opacity: 1;
  background: #000;
}

.lang-movie {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.lang-movie img {
  width: 100%;
}

.container-film {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
  margin: 0 20px;
  
}

.container-film::-webkit-scrollbar {
  background: #333333;
  width: 1px;
  border-radius: 10px;

}

.container-film::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.container-film::-webkit-scrollbar-thumb {
  background: #cccccc;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.box-film {
  flex: 0 0 auto;
  width: 300px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 5px;
}

i {
  color: yellow;
}

img {
  /* width: 50px; */
}
